<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Snowwhite Heli</title>
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="stylecontact.css">
  <link rel="stylesheet" href="varukorg.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,600&family=Quicksand:wght@300&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script defer src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script defer src="app.js"></script>
  <script src="script.js" defer></script>
</head>

<body>
  <div id="app">
    <header>
      <nav>
        <!-- Logotyp -->
        <h6 id="huvudTitel"><a href="#section1">SnowWhite Heli</a></h6>
        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" id="menuIcon">&#9776;</label>
        <!-- Navigationslänkar -->
        <div class="myLinks">
          <ul>
            <li><a href="#section2">Skidaktiviteter</a></li>
            <!-- <li><a href="#section6">Bildspel</a></li> -->
            <li><a href="varor.html">Boka Resa</a></li>
            <li><a href="#section7">Våra Guider</a></li>
            <li>
              <a href="#" @click.prevent="openCart">
                Varukorg
                <span v-if="totalItemsCart > 0" class="cart-item-count">
                  {{totalItemsCart}}
                </span>
              </a>
              <div v-if="showCart" class="cart-dropDown">
                <div class="varukorgRubrik">
                  <h3 class="VarukorgVaror">Varor</h3>

                </div>
                <div class="cartItems">


                  <ul>
                    <li v-for="product in cart" :key="product.id">
                      <div class="image-box">
                        <img :src="product.image" alt="varukorgImages">
                      </div>
                      <div class="varukorgInfo">
                        <h1 class="varukorgTitel">
                          {{product.name}}
                        </h1>
                        <h3 class="produktPlats">
                          {{product.location}}

                        </h3>
                      </div>
                      <div class="priser">
                        <div class="produktPris">{{product.price}} kr</div>
                        <div class="taBortProdukter" @click="removeProductCart(product)">Remove
                        </div>

                      </div>







                    </li>
                  </ul>
                </div>
                <hr>
                <div class="checkOut">
                  <div class="total">
                    <div class="subTotal-container">
                      <div class="subTotal">Sub-total</div>
                      <div class="varukorgItems">{{totalItemsCart}} Items</div>
                    </div>
                    <div class="totalAmount">
                      {{ cart.reduce((acc, product) => acc + product.price, 0) }} kr
                    </div>
                  </div>
                  <button class="checkOutButton">Check out</button>
                </div>


              </div>
            </li>


          </ul>
        </div>
      </nav>
    </header>

    <!-- Formulär för kontakt-->
    <button class="material-icons" id="support-button">contact_support</button>
    <!-- The Modal -->
    <div id="contact-wrapper" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <h2 class="contacthead">Kontaktformulär</h2>
        <h5>Undrar du något eller vill komma i kontakt med oss är det bara att skriva här så kontaktar vi dig med ett
          svar
          på dina frågor.</h5>
        <form id="contactform">
          <div class="input-group" id="name-div">
            <input type="text" id="name" placeholder="Ditt namn" onkeyup="validateName()">
            <span id="name-error"></span>
          </div>

          <div class="input-group" id="tele-div">
            <input type="text" id="tele" placeholder="Telefonnummer" onkeyup="validatePhone()">
            <span id="tele-error"></span>
          </div>

          <div class="input-group" id="email-div">
            <input type="text" id="email" placeholder="Email" onkeyup="validateEmail()">
            <span id="email-error"></span>
          </div>

          <div class="input-group" id="message-div">
            <textarea id="message" rows="4" placeholder="Skriv ditt meddelande här"
              onkeyup="validateMessage()"></textarea>
            <span id="message-error"></span>
          </div>
          <button onclick="return validateForm()" type="submit">Skicka meddelande</button>
        </form>
        <span class="close">&times;</span>
      </div>
    </div>

    <!-- Avsnitt 1: Hem -->
    <section id="section1" class="full-height">
      <video id="bakgrundsVideo" autoplay muted loop>
        <source src="pictures/helicoptervideo.mp4" type="video/mp4">
      </video>
      <div class="s1content">
        <div class="bakgrundsBild"></div>
      </div>
      <div class="grid-container">
        <div class="grid-itemAbout">

          <img src="pictures/snowwhiteLogosmall.png" alt="helikopterlyft" class="smaller-image" />
        </div>
        <div class="grid-itemAbout">
          <div class="bakgrundsBild">
            <h1>Experience Winter's<br> Magic with<br> SnowWhite Heli</h1>
          </div>
        </div>

      </div>
    </section>

    <!-- Avsnitt 2: Information om företaget -->

    <div id="info-grid">
      <div id="grid-pic1" class="info-grid-pic">
        <img src="pictures/helilift.jpg" alt="Helikopter Lyft">

      </div>
      <div id="grid-text1">
        <h3>Helikoterlyft</h3>
        <p>Info om helikoptrar</p>
      </div>

      <div id="grid-pic2" class="info-grid-pic">
        <img src="pictures/about/skijump.jpg" alt="Erfaren skidguide">
      </div>

      <div id="grid-text2">
        <h3>Erfarna Guider</h3>
        <p>Snacka om våra guider</p>
      </div>

      <div id="grid-pic3" class="info-grid-pic">
        <img src="pictures/about/resortski.jpg" alt="Skidanläggning natt">
      </div>

      <div id="grid-text3">
        <h3>Resa och hotell</h3>
        <p>Kom och res med oss</p>
      </div>

      <div id="grid-pic4" class="info-grid-pic">
        <img src="pictures/about/utrustning.jpg" alt="">
      </div>

      <div id="grid-text4">
        <h3>Utrustning att skaffa sig</h3>
        <p>Info om våran utrustning</p>
      </div>
    </div>
    
    <!-- Avsnitt 6:Bildspel -->
    <section id="section6" class="full-height-section">
      <div class="slideShow-container">
        <h2 class="skiResorts">Våra platser</h2>
        <div class="slideShow middle">
          <div class="slides">
            <input type="radio" name="r" id="r1" checked />
            <input type="radio" name="r" id="r2" />
            <input type="radio" name="r" id="r3" />
            <input type="radio" name="r" id="r4" />
            <input type="radio" name="r" id="r5" />

            <div class="slide s1">
              <img src="pictures/zermatt.jpg" alt="zermatt" />
              <div class="slide-text">Zermatt</div>
            </div>
            <div class="slide s2">
              <img src="pictures/valthorens.jpg" alt="valthorens" />
              <div class="slide-text">Val Thorens</div>
            </div>
            <div class="slide s3">
              <img src="pictures/tignes.jpg" alt="tignes" />
              <div class="slide-text">Tignes</div>
            </div>
            <div class="slide s4">
              <img src="pictures/stMorritz.jpg" alt="stMoritz" />
              <div class="slide-text">St.Moritz</div>
            </div>
            <div class="slide s5">
              <img src="pictures/madesimo.jpg" alt="madesimo" />
              <div class="slide-text">Madesimo</div>
            </div>
          </div>
        </div>

        <div class="navigation">
          <label for="r1" class="bar"></label>
          <label for="r2" class="bar"></label>
          <label for="r3" class="bar"></label>
          <label for="r4" class="bar"></label>
          <label for="r5" class="bar"></label>
        </div>
      </div>
    </section>

    <!-- Avsnitt 7:Guide Presentation -->
    <section id="section7" class="full-height-section">
      <div class="guidePresentation">
        <div class="guideDescription">
          <h1>Guides</h1>
          <p>
            Varje guide hos oss är en expert på att navigera i svår terräng och
            garanterar en oförglömlig och säker heliski-upplevelse. Klicka på
            deras bilder nedan för att lära känna dem bättre och förstå deras
            unika färdigheter och erfarenheter.
          </p>
        </div>
        <div class="guideProfileCard">
          <div class="card card1">
            <h5>Jesper</h5>
          </div>
          <div class="card card2">
            <h5>Axel</h5>
          </div>
          <div class="card card3">
            <h5>Emanuel</h5>
          </div>
          <div class="card card4">
            <h5>Ludde</h5>
          </div>
        </div>
      </div>
    </section>

    <!-- Avsnitt 8: footer -->
    <footer>
      <div class="grid-Cont">
        <div class="grid-Item item1">
          <h10>SnowWhite Heli</h10>
        </div>

        <div class="grid-Item item2">
          <div class="footerCont">
            <h4>Snabb Länk</h4>
            <ul class="footList">
              <li><a href="#section1" class="hLink">Hem</a> </li>
              <li>Om oss</li>
              <li>FAQ</li>
            </ul>
          </div>
        </div>

        <div class="grid-Item item3">
          <div class="footerCont">
            <h4>Kontakta oss</h4>
            <ul class="footList">
              <li>Tel: 0760506043</li>
              <li>Email: snow@WhiteHeli.com</li>
              <li>Fax: +44-20-1224-3456</li>
            </ul>
          </div>
        </div>

        <div class="grid-Item item4">
          <div class="footerCont">
            <h4>Sociala medier</h4>
            <ul class="footList">
              <li>Instagram</li>
              <li>Facebook</li>
              <li>Tiktok</li>
            </ul>
          </div>
        </div>

        <div class="grid-Item item5">
          <p id="footText">All rights reserved. SnowWhite-Heli</p>
        </div>

        <div class="grid-Item item6">
          <div class="footerCont">
            <h4>Om oss</h4>
            <p id="footP">Vi är ett företag som tar din skidåkning till nya höjder. Med topklassig säkerhet och
              professionell personal så kan vi garantera en nöjesvärd upplevelse </p>
          </div>
        </div>

      </div>
    </footer>
  </div>
</body>

</html>