h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    color:white;
    margin: 0;
}

.box-cont {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    height: 100%;
    margin-top: 8em;
    margin-bottom: 1em;
    column-gap: 0.5em;
    padding: 0.5em;
}

.box-part {
    border-radius: 10px;
}

.part1 {
    object-fit: fill;
    position: relative;
}

.part1 img {
    border-radius: 10px;
    max-width:100%;
    max-height: 100%;
} 

.firstText {
    position: absolute;
    top: 2%;
    left: 3%;
    font-size: 4rem;
    /* border-bottom: 3px solid #FF570A; */

}

.secondText {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 20%;
    left: 3%;
    font-size: 2rem;
    color: #0C1C3C;
    padding-left: 2%;
    border-left: 8px solid #FF570A;

}

/* .part1:hover {
    transform: scale(1.1);
} */


.part2 {
    margin: 3% 2% 0 2%;
    color: #0C1C3C;
}

.part2 h4 {
    color: #0C1C3C;
    border-bottom: 8px solid #FF570A;
}

.part2 h5 {
    font-size: 1.5em;
    margin: 0.2em 0 1em 0;
}

.part3 {
    width: 100%;
    background-color: #0C1C3C;
}

.part4 {
    grid-column: 1 / span 3;
    grid-row: 3 / span 3;
    height: 200px;
    width: 100%;
    background-color: aquamarine;
    margin-top: 0.5em;
}

/* .skillBar-box {
    display: flex; 
    align-content: center;
    background-color: orange;
    height: 50%;
    width: 50%;
    padding: -2em;
} */


/*


Emanuels kod hamnar här


*/

.skill {
    width: 80%;
    height: 23px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
    border: 1px solid black;
    margin: 5vh;
}

.bars {
    height: 23px;
    border-radius: 15px;
    border: none;
    margin-top: -20px;
    margin-left: 0;
}

@keyframes anim {
    0% {
        width: 0%;
    }
}

.p1 {

    background-color: #FF570A;
    animation: anim 1s linear forwards;
} 

.p2 {

    background-color: #FF570A;
    animation: anim 1s linear forwards;
}
.p3 {

    background-color: #FF570A;
    animation: anim 1s linear forwards;
} 

.p4 {

    background-color: #FF570A;
    animation: anim 1s linear forwards;
} 



#number {
    text-align: center;
}

@media only screen and (max-width: 905px) {
    .box-cont {
        display: flex;
        flex-direction: column;
        margin: 1em;
    }



    .part1 {
        object-fit: fill;
        margin-top: 6rem;
    }
    /*
    .part2 {
        background-color: #FF570A;
        
    }
    
    .part3 {
        width: 100%;
        background-color: #0C1C3C;
    }
    
    .part4 {
        height: 200px;
        width: 100%;
        background-color: aquamarine;
        margin-top: 0.5em;
    } */
}