/* Återställning av standardmarginaler och fyllnad */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Grundstilar */
body {
    font-family: 'Quicksand', sans-serif;
    background-color: #F0EFF4; /* Ljusgrå bakgrundsfärg */
}

header {
    background-color: #0C1C3C;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 1em;
    display:  block;
    text-align: center;
}

.myLinks {
    text-align: right;
    margin: 0 4em 0 4em;
}

.myLinks li a {
    display: inline-block;
    position: relative;
}

.myLinks li a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    right: 0;
    border-bottom: 2px solid #FF570A;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    
}

.myLinks li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

nav {
    text-align: center;
}

nav li {
    display: inline;
}

nav li a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 01em 2em;
}

 /* nav li a:hover {
    border-bottom: 2px solid #FF570A;
}  */

nav h6 a {
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: white;
    display: inline;
    float: left;
    margin-left: 40px;
    border-bottom: 2px solid #FF570A;
    text-decoration: none;
}

#menuIcon, #menu-toggle {
    display: none;
    font-size: 2rem;
    color: #fff;
    padding-bottom: 0.5rem;
}


.full-height {
    height: 100vh;
}

.scroll-button {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.scroll-button:hover {
    background-color: #555;
}

/* Avsnitt 1: Hem  */

#section1 {
    /* background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(pictures/bakgrund.jpg); */
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.front-item{
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
    font-size: 3em;
    text-shadow: 2px 2px 4px black;

}
#bakgrundsVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%; /* Ändra storleken här */
    height: 50%; /* Ändra storleken här */
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
    object-fit: cover;
}

.front-item h1{

    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 0 -30px;
    text-align: left;
}




.smaller-image {
    width: 30vw;
    height: auto;
}

/* Avsnitt 2 - Avsnitt 5  */
#section2,#section3,#section4,#section5 {
    background-color: white;
    font-size: 1.5em;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexPic {
    max-width: 40vw;
    height: 100%;
    border-radius: 15px 20px 25px 30px;
}

.text-container {
    margin: 0 30px 0 30px;
}

.text-container h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    padding: 2rem;
    border-bottom: 5px solid #FF570A;
}

.text-container p {
    padding: 2rem 0;
}

/* avsnitt6- SlideShow*/
#section6{
    box-sizing: border-box;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(pictures/winterlandscape.jpg);
    background-position: center;
    background-size: cover;
}

.våraPlatserTitel{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    padding: 2rem;    
    margin-bottom: -1rem;
}

.våraPlatserTitel h3{
    display: inline-block;
    border-bottom: 5px solid #FF570A;
    color: #fff;
}

.slideShow-container {
    max-width: 1000px;
    max-height: 500px; 
    margin: auto; 
    position: relative;
}

.slide {
    display: none;
    height: 550px; 
    overflow: hidden;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: rgb(86, 86, 86);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .allDots{
    text-align: center;
  }

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0.3em;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
  
.slide-text {
    position: relative;
    text-align: center;
    bottom: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(221, 221, 221, 0.835);
    font-size: 3em;
    font-weight: bold;
    text-shadow: 0 0 5px #999;
}
  
/* Avsnitt 7:Guide Presentation */
#section7{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(pictures/winterlandscape.jpg);
    background-position: center;
    background-size: cover;
}

.guidePresentation{
    display: grid;
    grid-template-columns: 45% 28% 28%;
    grid-template-rows: 40% 40%;
    gap: 10px;
    align-content: center;
    justify-content: space-evenly;
    height: 88%;
    align-items:center;
    margin-top: 5em;

}
.guideDescription{
    grid-column: 1 / 1;
    grid-row: 1 / span 2;
    color: #fff;
}

.guideDescription h1{
    margin-left: 20%;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #fff;
    border-bottom: 5px solid #FF570A;
}

.guideDescription p{
    margin-top: 0.2em;
    font-size: 20px;
    line-height: 20px;
    margin-left: 20%;
    margin-bottom: 0.2em;
}

.guideProfileCard {
    display: contents;
}

.card{
    width: 17vw;
    height: 17vw;

    border-radius: 10px;
    padding: 40px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
    font-size: 20px;
} 

.card1{
    background-image: url(pictures/profilbild1.jpg);
    grid-area: 1 / 2 /1 / 2;
    justify-self: end;
}

.card2{
    background-image: url(pictures/profilbild2.jpg);
    grid-area: 1 / 3 /1 / 3;
}

.card3{
    background-image: url(pictures/profilbild3.jpg);
    grid-area: 2 / 2 /2 / 2;
    justify-self: end;
    align-self: baseline;

}

.card4{
    background-image: url(pictures/profilbild4.jpg);
    grid-area: 2 / 3 /2 / 3;
    align-self: baseline;
}
.card h5{
    color: black;
    text-shadow: 0 0 5px #999;
}

.card:hover{
    transform: translateY(-30px);  
}


/* Support knappen avsnitt */

#support-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2;
    font-size: 4.6rem;
    border: 0px;
    background-color: transparent;
    color: #FF570A;
    transition: transform 0.5s ease;
}

#support-button:hover {
    transform: scale(1.3);
}



/* Avsnitt 8: footer */
.footerCont {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.footerCont h4 {
    font-size: 20px;
    text-align: start;
}

.footerCont h4:before {
    content: "| ";
}


 .footList li {
    display: block;
    position: relative;
    padding: 10px;
    margin: 1em;
    list-style-type: none;
    text-align: start;
    
 } 

  .footList li::before {
    font-family: 'Material Icons';
    content: "keyboard_double_arrow_right";
 }

 .footList li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FF570A;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
 } 

 .footList li:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
 } 

 .footList a {
    color: white;
    text-decoration: none;
 }

.grid-Cont {
    grid-template-columns: 1.5fr 1fr 2fr 1fr;
    display: grid;
    background-color: #0C1C3C;
    place-items: center;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    bottom: 0;
}

.grid-Item {
    margin: 0.5em 1em 0 1em;
    text-align: right;
    padding: 1em;
    align-items: start;
    bottom: 0;

}

.item1 {
    grid-column: 1;
    grid-row: 1;
    font-size: 1.3rem;
    font-weight: 900;
    color: white;
    display: inline;
    float: left;
    margin-top: 0;
    text-decoration: none;
    text-align: center;
}

.item1 h6 {
    font-size: 1.3rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        color: white;
        display: inline;
        float: left;
        margin-left: 40px;
        border-bottom: 2px solid #FF570A;
        text-decoration: none;
    }

.item2 {
    grid-column: 2;
    grid-row: 1 / span 3;
    color: white;
    
}

.item3 {
    grid-column: 3;
    grid-row: 1 / span 3;
    color: white;
}

.item4 {
    grid-column: 4;
    grid-row: 1 / span 3;
    color: white;
}

.item5 {
    grid-column: 1 / span 4;
    grid-row: 4;
    color: white;
}

.item6 {
    text-align: center;
    grid-column: 1;
    grid-row: 2 / span 2;
    color: white;
}

.item6 h4 {
    text-align: center;
}

/* För mobilskärmar */
@media only screen and (max-width: 905px) {
    
    header {
        background-color: #0C1C3C;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        z-index: 100;
        padding: 1em; 
        text-align: right;
        display: block;
    }

    
    .myLinks {
        text-decoration: none;
        color: white;
        font-weight: 700;
        padding: 0.01em 2em;
        display: block;
        text-align: right;
        margin: 0;
        
    }
    
    .myLinks li a {
        display: inline-block;
        position: relative;
    }
    
    .myLinks li a:after {
        content: '';
        position: absolute;
        width: 50%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        right: 0;
        border-bottom: 2px solid #FF570A;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
        
    }
    
    .myLinks li a:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

   
    #menuIcon {
        display: block;
        position: relative;
        margin: 0 1.5em 0 1em;
        cursor: pointer;
       
    }
    .open::before{
        content: '\2715';
        font-size: 0.5rem;
        
    }

    .myLinks li a {
        display: none;
        margin: 0.5em;
    }

    #menu-toggle:checked ~ .myLinks li a {
        display: block;
    }

    #menu-toggle:checked ~ #menuIcon {
        color: #FF570A;
    }

    nav {
        text-align: right;
        position: relative;
    }

    nav h6 a {
        font-size: 1.3rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        color: white;
        display: inline;
        float: left;
        margin-top: -10px;
        border-bottom: 2px solid #FF570A;
        text-decoration: none;
    }

    #section1 {
        background-position: center;
        background-size:auto;
        font-size: 50%;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-left: 30px;
    }

    .front-item h1{
        margin-top: -30px;
    }

    .smaller-image{
        width:40vw;
    }


    .full-height{
        height: auto;
    }

    #section2,#section3,#section4,#section5 {
        background-color: white;
        font-size: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        height: auto;
    }

     #flex-pic1,#flex-pic2,#flex-pic3,#flex-pic4{
        order: 1;
        width: 100%;
    }
    
    #flex-text1,#flex-text2,#flex-text3,#flex-text4{
        order: 2;
        width: 100%;
    }
    .text-container h3{
        font-size: 2rem;
    }

    .flexPic{
        max-width: 80vw;
    }

    .slide-text{
        font-size: 1.5em;
    }

    
    .guidePresentation{
        grid-template-columns: 50% 50%;
        grid-template-rows: 20% 30% 30%;
        gap: 20px;
    
    }
    .guideDescription{
        grid-column: 1 / span 2;
        grid-row: 1 / 1;
        width: 90%;
        text-align: center;
    }

    .card{
        width: 30vw;
        height: 30vw;
    } 
    
    .card1{
        background-image: url(pictures/profilbild1.jpg);
        grid-area: 2 / 1 /2 / 1;
        justify-self: end;

    }
    
    .card2{
        background-image: url(pictures/profilbild2.jpg);
        grid-area: 2 / 2 /2 / 2;
        justify-self: start;

    }
    
    .card3{
        background-image: url(pictures/profilbild3.jpg);
        grid-area: 3 / 1 /3 / 1;
        justify-self: end;
    }
    
    .card4{
        background-image: url(pictures/profilbild4.jpg);
        grid-area: 3 / 2 /3 / 2;
        justify-self: start;
    }


    .grid-Cont{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .footerCont h4 {
        text-align: center;

    }


  }

  @media only screen and (min-width: 905px) {
   
    /* animationer till section 2,3,4,5 */
    .full-height-section {
    opacity: 0;
    transition: 3.5s all ease;
    }

.active-right {
    animation: active-right 3.5s ease 0s 1 normal forwards;
    opacity: 1;
}

@keyframes active-right {
    0% {
        opacity: 0;
        transform: rotateY(-100deg);
        transform-origin: right;
    }

    100% {
        opacity: 1;
        transform: rotateY(0);
        transform-origin: right;
    }
}

.active-left {
    animation: active-left 3.5s ease 0s 1 normal forwards;
    opacity: 1;
}

@keyframes active-left {
    0% {
        opacity: 0;
        transform: rotateY(100deg); 
        transform-origin: left;   
    }
    100% {
        opacity: 1;
        transform: rotateY(0);
        transform-origin: left;  
}
} 
  }

.fade-top{
    animation: fade 2s ease 0s 1 normal forwards;
    opacity: 1;
}

@keyframes fade {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fade-btm{
    animation: fade-bottom 2s ease 0s 1 normal forwards;
    opacity: 1;
}

@keyframes fade-btm {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}